@charset "UTF-8";
.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/* usage
.my-box {
    padding: 10px;
    @include for-size(tablet) {
      padding: 20px;
    }
  } (edited) */
/* для  стилей  общего пользования */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

/* добавил этот стиль когда начал делать фест-мобайл подход*/
*,
::after,
::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* класс для всех ссылок <a>, убираем подчеркивание и задаем цвет */
.link {
  text-decoration: none;
  color: inherit;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:focus, .link:hover {
  color: #2196F3;
}

/* стандартный набор стилей для container, еще можно добавить padding left b right
 если есть*/
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/* класс для ссылок по страницам в навигации*/
.menu-link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.menu {
  display: none;
}

@media (min-width: 768px) {
  .menu {
    display: inline-flex;
  }
}

.menu-link-studio::after {
  content: "";
  position: absolute;
  bottom: -32px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196F3;
}

.menu-link-portfolio::after {
  content: "";
  position: absolute;
  bottom: -32px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196F3;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .link-navigation .menu {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 1200px) {
  .tablet-item:first-child {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .tablet-item:first-child {
    margin-bottom: 10px;
  }
}

.social-icons-svg {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons {
  display: flex;
  justify-content: center;
  padding-bottom: 24px;
}

.social-icons:not(:last-child) {
  margin-right: 10px;
}

@media (min-width: 1200px) {
  .social-icons {
    padding-bottom: 30px;
  }
}

.social-icons-border {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons-border:hover .social-icons-svg,
.social-icons-border:focus .social-icons-svg {
  fill: #FFFFFF;
}

.social-icons-border:hover {
  background-color: #2196F3;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  border-radius: 4px;
  background-color: #FFFFFF;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

@media (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.1);
}

.close-btn {
  position: absolute;
  display: inline-block;
  right: 8px;
  top: 8px;
  background-color: var #FFFFFF;
  /* border: 0; */
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
}

.close-btn:hover .close-icon {
  fill: #2196F3;
}

.close-icon {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-modal {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 0px;
  margin-bottom: 2px;
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .title-modal {
    line-height: 1.5;
  }
}

@media (min-width: 1200px) {
  .title-modal {
    line-height: 1.15;
  }
}

.modal-icons-svg {
  position: absolute;
  top: 38px;
  left: 50px;
  width: 18px;
  height: 18px;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-blocks {
  position: relative;
}

.form-label {
  display: inline-block;
  padding-left: 40px;
  padding-top: 10px;
  padding-bottom: 4px;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form-input {
  display: inline-block;
  height: 40px;
  margin-right: 40px;
  margin-left: 40px;
  padding-left: 35px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .form-input {
    width: 370px;
  }
}

@media (min-width: 1200px) {
  .form-input {
    width: 448px;
  }
}

.form-textarea {
  display: inline-block;
  /* resize: none; */
  height: 120px;
  margin-right: 40px;
  margin-left: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  outline: none;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .form-textarea {
    width: 370px;
  }
}

@media (min-width: 1200px) {
  .form-textarea {
    width: 448px;
  }
}

.form-input:focus + .modal-icons-svg {
  fill: #2196F3;
}

.form-input:focus,
.form-input:hover,
.form-textarea:focus,
.form-textarea:hover {
  border-color: #2196F3;
}

.check-class {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.check-class:checked + .checkbox-icon {
  background-color: #2196F3;
  background-image: url(../images/check-active.svg);
  /* fill: $accent-cl; */
  background-size: cover;
}

.checkbox-icon {
  position: absolute;
  left: 51px;
  display: inline-block;
  width: 16px;
  height: 15px;
  background-image: url(../images/checkbox.svg);
  background-position: center;
  z-index: -1;
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .checkbox-icon {
    top: 19px;
  }
}

@media (min-width: 1200px) {
  .checkbox-icon {
    top: 24px;
  }
}

.check-label {
  display: inline-block;
  padding-left: 77px;
  margin-top: 20px;
  margin-bottom: 30px;
  font-weight: normal;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .check-label {
    font-size: 12px;
    line-height: 1.17;
  }
}

@media (min-width: 1200px) {
  .check-label {
    font-size: 14px;
    line-height: 1.71;
  }
}

.color-check-text {
  color: #2196F3;
  text-decoration: underline;
}

/* класс для заголовков секций h2 на странице СТУДИО */
.section-title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
  margin-top: 0px;
  padding-top: 60px;
}

@media (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    padding-top: 94px;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .section {
    padding-bottom: 60px;
  }
}

@media (min-width: 1200px) {
  .section {
    padding-bottom: 94px;
  }
}

.but-menu-mobile .icon-cross {
  display: none;
}

.but-menu-mobile.is-open .icon-cross {
  display: block;
}

.but-menu-mobile.is-open .icon-menu {
  display: none;
}

.but-menu-mobile {
  display: block;
  background-color: #FFFFFF;
  /* border: 0; */
  padding: 0;
  cursor: pointer;
  border: 0;
  width: 40px;
  height: 40px;
  outline: none;
}

@media (min-width: 768px) {
  .but-menu-mobile {
    display: none;
  }
}

.but-menu-mobile:hover .menu-mobile-svg {
  fill: #2196F3;
}

.menu-mobile-svg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 26px;
  height: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-mobile {
  background-color: #FFFFFF;
  padding-top: 60px;
  padding-bottom: 60px;
  position: absolute;
  left: 0;
  right: 0;
  border-top: 1px solid #ECECEC;
  opacity: 0;
  visibility: hidden;
}

@media (min-width: 768px) {
  .menu-mobile {
    display: none;
  }
}

.menu-mobile.is-open {
  opacity: 1;
  visibility: visible;
}

.nav-item-mobile:not(:last-child) {
  margin-bottom: 40px;
}

.menu-mobile-nav {
  text-align: center;
  margin-bottom: 60px;
}

.link-navigation-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-item-link:not(:last-child) {
  margin-bottom: 16px;
}

.menu-link-mobile {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
}

.menu-link-studio-mobile::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196F3;
}

.menu-link-portfolio-mobile::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196F3;
}

.link-connection-mobile {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.link-connection-mobile:hover > .envelope-svg,
.link-connection-mobile:hover > .smartphone-svg {
  fill: #2196F3;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .navigation {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .navigation {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .navigation .logo {
    margin-right: 88px;
  }
}

@media (min-width: 1200px) {
  .navigation {
    padding-top: 24px;
    padding-bottom: 25px;
  }
  .navigation .logo {
    margin-right: 93px;
  }
}

.link-navigation {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 0px;
}

.envelope-svg {
  display: inline-block;
  width: 16px;
  height: 12px;
  margin-right: 10px;
  background-size: contain;
  background-position: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.smartphone-svg {
  display: inline-block;
  height: 16px;
  width: 10px;
  margin-right: 10px;
  background-size: contain;
  background-position: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-connection {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-right: 0px;
}

.link-connection:hover > .envelope-svg,
.link-connection:hover > .smartphone-svg {
  fill: #2196F3;
}

.top-line {
  border-bottom: 1px solid #ECECEC;
  margin-left: auto;
  margin-right: auto;
}

.dark-bg-hero {
  background-color: #2F303A;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .dark-bg-hero {
    margin-bottom: 60px;
    width: 480px;
    height: 400px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-mob.jpg");
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (max-width: 767px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (max-width: 767px) and (min-resolution: 2dppx) {
  .dark-bg-hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-mob@2x.jpg");
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .dark-bg-hero {
    margin-bottom: 60px;
    width: 768px;
    height: 400px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-tablet.jpg");
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .dark-bg-hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-tablet@2x.jpg");
  }
}

@media (min-width: 1200px) {
  .dark-bg-hero {
    margin-bottom: 94px;
    width: 1600px;
    height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-desktop.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .dark-bg-hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-desktop@2x.jpg");
  }
}

.button-hero {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  text-align: center;
}

.button-hero:hover {
  cursor: pointer;
}

.text-button-hero {
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  color: #FFFFFF;
  text-align: center;
  letter-spacing: 0.06em;
}

/* класс для заголовка страницы h1 */
.page-title {
  font-family: Roboto;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .page-title {
    padding-top: 118px;
    padding-right: 60px;
    padding-left: 60px;
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-title {
    padding-top: 118px;
    padding-right: 204px;
    padding-left: 204px;
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .page-title {
    font-size: 26px;
    line-height: 1.62;
  }
}

@media (min-width: 1200px) {
  .page-title {
    font-size: 44px;
    line-height: 1.36;
    padding-top: 200px;
    padding-right: 452px;
    padding-left: 452px;
    padding-bottom: 30px;
  }
}

.futer-social {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .futer-social {
    margin-left: auto;
  }
}

@media (min-width: 1200px) {
  .futer-social {
    margin-left: 70px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .futer-social {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .futer-social {
    align-items: center;
  }
}

.futer-social .social-icons-svg {
  fill: #FFFFFF;
}

.futer-social .social-icons-border {
  background-color: rgba(255, 255, 255, 0.1);
}

.futer-contacts {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .futer-contacts {
    align-items: center;
    margin-bottom: 60px;
  }
}

.futer-social h3, .futer-input-section h3 {
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 0px;
  font-weight: bold;
  line-height: 1.14;
  font-size: 14px;
}

.item-icons-futer {
  margin-right: 10px;
}

.item-icons-futer:last-child {
  margin-right: 0px;
}

.item-icons-futer:hover .social-icons-border {
  background-color: #2196F3;
}

.futer-input-section {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .futer-input-section {
    align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .futer-input-section {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1200px) {
  .futer-input-section {
    margin-top: -35px;
    margin-left: 93px;
  }
}

.futer-form {
  display: flex;
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .futer-form {
    align-items: center;
    flex-direction: column;
  }
}

.futer-input {
  display: flex;
  padding-left: 16px;
  height: 50px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .futer-input {
    margin-bottom: 20px;
    width: 450px;
  }
}

@media (min-width: 1200px) {
  .futer-input {
    width: 358px;
  }
}

.futer-btn {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  margin-left: 12px;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.text-btn-futer {
  display: block;
  padding-left: 29px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: left;
  letter-spacing: 0.06em;
}

.text-btn-futer::after {
  position: absolute;
  right: 28px;
  top: 13px;
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-image: url(../images/iconsend.svg);
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateX(50%);
}

.part-logo-futer {
  color: #FFFFFF;
}

.link-mail {
  margin-bottom: 9px;
}

.section-contacts {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-contacts h2 {
  margin-bottom: 20px;
  margin-top: 0px;
}

.section-contacts p {
  margin-bottom: 9px;
  margin-top: 0px;
}

.section-contacts .container {
  display: flex;
  align-items: center;
  padding-top: 0px;
  padding-bottom: 0px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .section-contacts .container {
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .section-contacts .container {
    flex-wrap: wrap;
    align-items: flex-start;
    padding-left: 76px;
    padding-right: 89px;
  }
}

.contacts-blocks {
  display: block;
  align-items: center;
}

@media (min-width: 768px) {
  .flex-advantages {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .flex-advantages {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .item-icons-advantages {
    width: 100%;
    max-width: 450px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .item-icons-advantages {
    width: 50%;
    max-width: 354px;
  }
}

@media (min-width: 1200px) {
  .item-icons-advantages {
    width: 270px;
  }
}

.item-icons-advantages::before {
  content: "";
  display: block;
  height: 120px;
  background-color: #EEEEEE;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}

.item-antenna::before {
  content: "";
  background-image: url(../images/antenna.svg);
}

.item-clock::before {
  content: "";
  background-image: url(../images/clock.svg);
}

.item-diagram::before {
  content: "";
  background-image: url(../images/diagram.svg);
}

.item-astronavt::before {
  background-image: url(../images/astronaut.svg);
}

/* класс для заголовка секции -преимущества-  */
.section-advantages-title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #212121;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .section-advantages-title {
    margin-top: 0px;
    text-align: start;
  }
}

.border-advanteges {
  margin-top: 0px;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .border-advanteges {
    margin-top: 0px;
  }
}

@media (min-width: 1200px) {
  .border-advanteges {
    margin-bottom: 0px;
  }
}

.last-item h3 {
  margin-right: 0px;
}

.last-item p {
  margin-right: 0px;
}

.section-title-exsamples {
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
  margin-top: 0px;
}

.exsamles-works {
  display: flex;
  flex-wrap: wrap;
}

.exsamples-item {
  position: relative;
  margin-left: 30px;
  margin-top: 30px;
  text-align: center;
}

.exsamples-item:first-child {
  margin-left: 0px;
}

.layers {
  position: absolute;
  display: inline-block;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
}

.layers p {
  font-weight: bold;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0px;
  padding-top: 27px;
  padding-bottom: 27px;
}

@media screen and (min-width: 0px) and (max-width: 1199px) {
  .our-exsamples {
    display: none;
  }
}

.container-our-team {
  background-color: #EEEEEE;
  margin-left: auto;
  margin-right: auto;
}

/* класс для ul в сетке*/
@media (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

/* класс для описания пунктов членов команды /* класс для  li в сетке */
.team-item {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: inherit;
  background-color: #FFFFFF;
  margin-right: 0px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  /* добавил делая стили для мобайл*/
  margin-bottom: 30px;
}

.team-item img {
  margin-bottom: 30px;
}

.team-item p {
  margin-bottom: 16px;
  margin-top: 0px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .team-item {
    width: 450px;
  }
  .team-item:last-child {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-item {
    width: 354px;
  }
  .team-item:nth-last-child(-n + 2) {
    margin-bottom: 0px;
  }
}

@media (min-width: 1200px) {
  .team-item:last-child {
    margin-right: 0px;
  }
}

/* класс который относится для заголовков h3 на странице студио (имена сотрудников)*/
.team-name-tittle {
  font-weight: 500;
  color: #212121;
  margin-bottom: 10px;
  margin-top: 0px;
  line-height: 20px;
}

.title-const-customer {
  font-family: Roboto;
  font-weight: bold;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 0px;
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .title-const-customer {
    font-size: 28px;
    padding-top: 60px;
    margin-bottom: 30px;
  }
}

@media (min-width: 1200px) {
  .title-const-customer {
    font-size: 36px;
    padding-top: 94px;
    margin-bottom: 50px;
  }
}

.link-const-customer {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .link-const-customer {
    width: 210px;
  }
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .link-const-customer {
    width: 226px;
  }
}

@media (min-width: 1200px) {
  .link-const-customer {
    width: 170px;
  }
}

.link-const-customer:hover .item-logo,
.link-const-customer:focus .item-logo {
  fill: #2196F3;
}

.link-const-customer:hover {
  border: 1px solid #2196F3;
}

.list-const-customer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .item-const-customer {
    margin-bottom: 30px;
  }
  .item-const-customer:nth-last-child(-n + 2) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .item-const-customer {
    margin-bottom: 30px;
  }
  .item-const-customer:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }
}

.item-logo {
  align-items: center;
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-logo1 {
  Width: 44.27px;
  Height: 49.23px;
}

.item-logo2 {
  Width: 40px;
  Height: 52px;
}

.item-logo3 {
  Width: 41px;
  Height: 42.6px;
}

.item-logo4 {
  Width: 79.66px;
  Height: 42.02px;
}

.item-logo5 {
  Width: 59px;
  Height: 47px;
}

.item-logo6 {
  Width: 88.48px;
  Height: 45.04px;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #2196F3;
}

@media (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.part-logo {
  color: #212121;
}

.dark-bg {
  background-color: #2F303A;
  margin-left: auto;
  margin-right: auto;
}

.dark-bg .list .link {
  color: rgba(255, 255, 255, 0.6);
}
/*# sourceMappingURL=main.css.map */