.dark-bg {
    background-color: $bg-dark-cl;
    margin-left: auto;
    margin-right: auto;
    // width: 480px;
    @media screen and (min-width: 481px) {
        width: 100%;
    }



    & .list .link {
        color: rgba(255, 255, 255, 0.6);
    }
}