.btn {
    display: inline-block;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-text-cl;
    border-radius: 4px;
    border: none;
    background-color: $bg-section-cl;
    padding: 0px;
    transition: background-color $time-transition;
    &:hover,
    &:focus {
        background-color: $accent-cl;
        cursor: pointer;
    }

}

.btn-item {
    margin-right: 8px;
    @media screen and (max-width:767px) {
        &:nth-child(-n + 3) {
        margin-bottom: 15px;
        }}

}

.but-list {
    display: flex;

    // @media screen and (max-width:480px) {
    //     width: 100%;
    // }


    @media screen and (max-width:767px) {
        flex-wrap: wrap;
        justify-content: start;
    }

    @media screen and (max-width:1199px) {
        padding-top: 60px;
    }

    @include for-size(tablet) {
        justify-content: center;
    }


    @include for-size(desktop) {
        padding-top: 94px;
    }
    
}

    

.text-but-portfolio {
    display: inline-block;
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-text-cl;
    padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;
    padding-left: 22px;
    transition: color $time-transition;

    &:hover,
    &:focus {
        color: $wight-text-cl;
    }
}