.social-icons-svg {
    width: 20px;
    height: 20px;
    fill: $icons-color;
    transition: fill $time-transition;  

}

.social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

    &:not(:last-child) {
        margin-right: 10px;
    }
}

.social-icons-border {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    transition: background-color $time-transition;  


    &:hover .social-icons-svg,
    &:focus .social-icons-svg {
        fill: $wight-text-cl;
    }

    &:hover {
        background-color: $accent-cl;
    }
}
