/* для  стилей  общего пользования */ 
body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $main-text-cl;
}

/* добавил этот стиль когда начал делать фест-мобайл подход*/
*,
::after,
::before {
    box-sizing: inherit;
    // outline: 2px solid red;
}

html {
    box-sizing: border-box;
}

.list{
    padding: 0px;
    margin: 0px;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* класс для всех ссылок <a>, убираем подчеркивание и задаем цвет */
.link{
    text-decoration: none;
    color: inherit;
    transition: color $time-transition;


    &:focus,
    &:hover {
        color: $accent-cl;
    }
}


/* стандартный набор стилей для container, еще можно добавить padding left b right
 если есть*/
 .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    // width: 100%;

    @media screen and (max-width:767px) {
       max-width: 480px;
    }

    @include for-size(tablet) {
        width: 768px;
    }
    
    @include for-size(desktop) {
        width: 1200px;
    }
}
