
    $main-text-cl: #757575;
    $accent-cl: #2196F3;
    $title-text-cl: #212121;
    $wight-text-cl: #FFFFFF;
    $bg-dark-cl: #2F303A;
    $bg-section-cl: #EEEEEE;
    $bg-futer-icons-link: rgba(255, 255, 255, 0.1);
    $icons-color: #AFB1B8;
    $time-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);