.section-carts-works {
    @media screen and (min-width:480px) and (max-width: 767px) {
        padding-top: 40px;
        padding-bottom: 60px; 
    }

    @media screen and (min-width:768px) and (max-width: 1199px) {
        padding-top: 30px;
        padding-bottom: 60px; 
    }
    

    padding-top: 50px;
    padding-bottom: 94px;    
}

.work-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.work-item {
    text-align: start;
    background: $wight-text-cl;
    border: 1px solid $bg-section-cl;
    box-sizing: border-box;
    transition: box-shadow $time-transition;
    margin-bottom: 30px;
    // width: 450px;
    // height: 404px;
   
    @media screen and (min-width:480px) and (max-width: 767px) {
        width: 450px;
        &:last-child {
            margin-bottom: 0px;
        }
    }

    @media screen and (min-width:768px) and (max-width: 1199px) {
        width: 354px;
        flex-basis: calc(100% / 2 - 20px);
        &:last-child {
            margin-bottom: 0px;
        }
        
    }

    @include for-size(desktop) {
        flex-basis: calc(100% / 3 - 20px);
        width: 370px;

        &:nth-last-child(-n + 3) {
            margin-bottom: 0px;
        }
    }



    &:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.for-position {
    position: relative;
    overflow: hidden;


    &:hover .actions {
        overflow: visible;
        transform: translateY(0px);
    }
}
.actions {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $accent-cl;
    top: 0;
    left: 0;
    margin: 0;
    color: $wight-text-cl;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.56;
    transform: translateY(+100%);
    transition: $time-transition;
    text-align: left;
}


.actions p {
    margin: 0px;
    padding: 63px 24px;
}


.content-card {
    padding-left: 24px;
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    }

    /* класс для заголовка страницы h2 на ПОРТФОЛИО */
.work-card-title{
    font-family: Roboto;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $title-text-cl;
    margin-bottom: 4px;
    margin-top: 0px;
}

.work-card-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: $main-text-cl;
    margin-bottom: 0px;
    margin-top: 0px;
}
