.section-carts-works {
    padding-top: 50px;
    padding-bottom: 94px;    
}

.work-list {
    display: flex;
    flex-wrap: wrap;
}

.work-item {
    margin-left: 30px;
    margin-top: 30px;
    text-align: start;
    flex-basis: calc(100% / 3 - 20px);
    background: $wight-text-cl;
    border: 1px solid $bg-section-cl;
    box-sizing: border-box;
    transition: box-shadow $time-transition;
   

        /* для каждого третьего */
    &:nth-child(3n + 1) {
        margin-left: 0px;
    }

    /*для первых трех элементов*/
    &:nth-child(-n + 3) {
        margin-top: 0px;
    }

    &:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}
.for-position {
    position: relative;
    overflow: hidden;


    &:hover .actions {
        overflow: visible;
        transform: translateY(0px);
    }
}
.actions {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $accent-cl;
    top: 0;
    left: 0;
    margin: 0;
    color: $wight-text-cl;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.56;
    transform: translateY(+100%);
    transition: $time-transition;
    text-align: left;
}


.actions p {
    margin: 0px;
    padding: 63px 24px;
}


.content-card {
    padding-left: 24px;
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    }

    /* класс для заголовка страницы h2 на ПОРТФОЛИО */
.work-card-title{
    font-family: Roboto;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $title-text-cl;
    margin-bottom: 4px;
    margin-top: 0px;
}

.work-card-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: $main-text-cl;
    margin-bottom: 0px;
    margin-top: 0px;
}
