.flex-advantages {

    @include for-size(tablet) {
    display: flex;
    justify-content: space-between;
    }

    @media screen and (min-width:768px) and (max-width: 1199px) {
        flex-wrap: wrap;
    }
}

.item-icons-advantages {
    @media screen and (max-width:767px) {
        width: 100%;
        max-width: 450px;
        }       


    @media screen and (min-width:768px) and (max-width: 1199px) {
        // flex-basis: calc(100% / 2 - 30px);
        width: 50%;
        max-width: 354px;
    }

    @include for-size(desktop) {
        width: 270px;
    }
}

.item-icons-advantages::before {
    content: "";
    display: block;
    height: 120px; 
    background-color: $bg-section-cl;
    background-position: center;
    background-repeat: no-repeat;    
    margin-bottom: 30px;
}

.item-antenna::before {
    content: "";
    background-image: url(../images/antenna.svg);
}

.item-clock::before {
    content: "";
    background-image: url(../images/clock.svg);
}

.item-diagram::before {
    content: "";
    background-image: url(../images/diagram.svg);
}

.item-astronavt::before {
    background-image: url(../images/astronaut.svg);
}

/* класс для заголовка секции -преимущества-  */
.section-advantages-title{
    font-family: Roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: $title-text-cl;
    margin-bottom: 10px;
    

    @include for-size(tablet) {
        // margin-right: 30px;
        margin-top: 0px;
        text-align: start;}
}

.border-advanteges {
    margin-top: 0px;
    margin-bottom: 30px;

    @include for-size(tablet) {
        // margin-right: 30px;
        margin-top: 0px;}

    @include for-size(desktop) {
        margin-bottom: 0px;
        }
}

.last-item h3 {
    margin-right: 0px;
}
.last-item p {
    margin-right: 0px;
}