.title-const-customer {
    font-family: Roboto;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-text-cl;
    padding-top: 94px;
    margin-top: 0px;
    margin-bottom: 50px;
}

.link-const-customer {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 90px;
    border: 1px solid $icons-color;
    border-radius: 4px;
    transition: border $time-transition;


    &:hover .item-logo,
    &:focus .item-logo {
        fill: $accent-cl;
    }

    &:hover {
        border: 1px solid  $accent-cl;
    } 
}

.list-const-customer {
    display: flex;
    justify-content: space-between;
}





.item-logo {
    align-items: center;
    fill: $icons-color;
    transition: fill $time-transition;
}

.item-logo1 {
    Width: 44.27px;
    Height: 49.23px;
}

.item-logo2 {
    Width: 40px;
    Height: 52px;
}

.item-logo3 {
    Width: 41px;
    Height: 42.6px;
}

.item-logo4 {
    Width: 79.66px;
    Height: 42.02px;
}

.item-logo5 {
    Width: 59px;
    Height: 47px;
}

.item-logo6 {
    Width: 88.48px;
    Height: 45.04px;
}