.futer-social {
    display: flex;
    flex-direction: column;

    @media screen and (min-width:768px) and (max-width:1200px) {
        margin-left: auto;    
    }

    @include for-size(desktop) {
        margin-left: 70px;
    }
    
    @media screen and (min-width:480px) and (max-width:767px) {
        margin-bottom: 60px;}

    @media screen and (min-width:480px) and (max-width:1199px) {
        align-items: center;}

    & .social-icons-svg {
        fill: $wight-text-cl; 
    }

    & .social-icons-border {
        background-color: $bg-futer-icons-link ;
    }
}

.futer-contacts {
    display: flex;
    flex-direction: column;
    
    @media screen and (min-width:480px) and (max-width:1199px) {
        align-items: center;
        margin-bottom: 60px;
    
    }

}

.futer-social h3, .futer-input-section h3 {
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 0px;
    font-weight: bold;
    line-height: 1.14;
    font-size: 14px;
}

.item-icons-futer {
    margin-right: 10px;

    &:last-child {
        margin-right: 0px;
    }
    &:hover .social-icons-border {
        background-color: $accent-cl;
    }
}

.futer-input-section {
    display: flex;
    flex-direction: column;
    
    @media screen and (min-width:480px) and (max-width:1199px) {
        align-items: center;}

    @media screen and (min-width:768px) and (max-width:1200px) {
        margin-left: auto;
        margin-right: auto;
    }

    @include for-size (desktop) {
        margin-top: -35px;
        margin-left: 93px;
    }
    
}

.futer-form {
    display: flex;

    @media screen and (min-width:480px) and (max-width:1199px) {
        align-items: center;
        flex-direction: column;}
    
}

.futer-input {
    display: flex;
    padding-left: 16px;
    
    height: 50px;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    background-color: $bg-dark-cl;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;

    @media screen and (min-width:480px) and (max-width:1199px) {
        margin-bottom: 20px;
        width: 450px;
    }
    @include for-size (desktop) {
        width: 358px;}


}

.futer-btn {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    margin-left: 12px;
    background-color: $accent-cl;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.text-btn-futer {
    display: block;
    padding-left: 29px;
    // padding-top: 10px;
    // padding-bottom: 10px;
    color: $wight-text-cl;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    text-align: left;
    letter-spacing: 0.06em;


    &::after {
        position: absolute;
        right: 28px;
        top: 13px;
        content: "";
        display: block;
        width: 24px;
        height: 24px;
        background-image: url(../images/iconsend.svg);
        background-repeat: no-repeat;
        background-size: cover;
        transform: translateX(50%);
        
    }
}

.part-logo-futer {
    color: $wight-text-cl;
}

.link-mail {
    margin-bottom: 9px;
}

