.dark-bg-hero {
    background-color: $bg-dark-cl;
    margin-left: auto;
    margin-right: auto;
    // background-image: linear-gradient(to right,  rgba(47, 48, 58, 0.4),  
    // rgba(47, 48, 58, 0.4)), url("../images/hero-mob.jpg");
     
    background-size: cover;
    background-position: center;

    @media screen and (min-width:480px) and (max-width:767px) {
        margin-bottom: 60px;
        width: 480px;
        height: 400px;
        background-image: linear-gradient(to right,  rgba(47, 48, 58, 0.4),  
        rgba(47, 48, 58, 0.4)), url("../images/hero-mob.jpg");

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: linear-gradient(to right,  rgba(47, 48, 58, 0.4),  
            rgba(47, 48, 58, 0.4)), url("../images/hero-mob@2x.jpg");
        }  
    }

    @media screen and (min-width:768px) and (max-width:1199px) {
        margin-bottom: 60px;
        width: 768px;
        height: 400px;
        background-image: linear-gradient(to right,  rgba(47, 48, 58, 0.4),  
        rgba(47, 48, 58, 0.4)), url("../images/hero-tablet.jpg");

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: linear-gradient(to right,  rgba(47, 48, 58, 0.4),  
            rgba(47, 48, 58, 0.4)), url("../images/hero-tablet@2x.jpg");
        }  
    }

    @include for-size(desktop) {
        margin-bottom: 94px;
        // width: 1600px;
        height: 600px;
        background-image: linear-gradient(to right,  rgba(47, 48, 58, 0.4),  
        rgba(47, 48, 58, 0.4)), url("../images/hero-desktop.jpg");

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: linear-gradient(to right,  rgba(47, 48, 58, 0.4),  
            rgba(47, 48, 58, 0.4)), url("../images/hero-desktop@2x.jpg");
        }  
        
    }
    
}

.button-hero {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    text-align: center;

    &:hover {
        cursor: pointer;
    }
}

.text-button-hero {
    font-family: Roboto;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    color: $wight-text-cl;
    text-align: center;
    letter-spacing: 0.06em;

}

/* класс для заголовка страницы h1 */
.page-title{
    font-family: Roboto;
    font-weight: 900;
    
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $wight-text-cl;
    
    margin: 0px;

    @media screen and (min-width:480px) and (max-width:767px) {
        padding-top: 118px;
        padding-right: 60px;
        padding-left: 60px;
        padding-bottom: 30px;
    }

    @media screen and (min-width:768px) and (max-width:1199px) {
        padding-top: 118px;
        padding-right: 204px;
        padding-left: 204px;
        padding-bottom: 30px;
    } 

    @media screen and (min-width:480px) and (max-width:1199px) {
        font-size: 26px;
        line-height: 1.62;
    }

    @include for-size(desktop) {
        font-size: 44px;
        line-height: 1.36;
        padding-top: 200px;
        padding-right: 452px;
        padding-left: 452px;
        padding-bottom: 30px;

    }

}
