.menu-mobile {
    background-color: $wight-text-cl;
    padding-top: 60px;
    padding-bottom: 60px;
    position: absolute;
    left: 0;
    right: 0;
    border-top: 1px solid $border-color-menu-mobile;
    opacity: 0;
    visibility: hidden;

    @include for-size(tablet) {
        display: none;
    }
}

.menu-mobile.is-open {
    opacity: 1;
    visibility: visible;
}

.nav-item-mobile:not(:last-child) {
    margin-bottom: 40px;
}

.menu-mobile-nav {
    text-align: center;
    margin-bottom: 60px;
}

.link-navigation-mobile {
    display: flex;
    flex-direction: column;
    // text-align: center;
    align-items: center;
}

.mobile-item-link:not(:last-child) {
    margin-bottom: 16px;

}

.menu-link-mobile{
    position: relative;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: $title-text-cl;

}

.menu-link-studio-mobile::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $accent-cl;
}


.menu-link-portfolio-mobile::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $accent-cl;
}

.link-connection-mobile{
    font-weight: 500;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    // margin-right: 0px;

    &:hover > .envelope-svg,
    &:hover > .smartphone-svg {
        fill: $accent-cl;
    }
}