.navigation {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;

    @media screen and (min-width:480px) and (max-width: 767px) {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    @media screen and (min-width:768px) and (max-width: 1199px) {
        padding-top: 21px;
        padding-bottom: 21px;
    }   

    @media screen and (min-width:480px) and (max-width: 1199px) {
    & .logo {
        margin-right: 88px;
    }}
    
    @include for-size(desktop) {
        padding-top: 24px;
        padding-bottom: 25px;
            & .logo {
                margin-right: 93px;
            }}

}

.link-navigation {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 0px;}

    

    // @include for-size(desktop) {
    // & .link-connection:first-child {
    //     margin-right: 30px;
    //     }}

.envelope-svg {
    display: inline-block;
    width: 16px;
    height: 12px;    
    margin-right: 10px;
    background-size: contain;
    background-position: center;
    transition: fill $time-transition;    
}

.smartphone-svg {
    display: inline-block;
    height: 16px;
    width: 10px;
    margin-right: 10px;
    background-size: contain;
    background-position: center;
    transition: fill $time-transition;   
}

.link-connection{
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    margin-right: 0px;

    // @media screen and (min-width:768px) and (max-width: 1199px) {
    // margin-bottom: 10px;
    // }

    &:hover > .envelope-svg,
    &:hover > .smartphone-svg {
        fill: $accent-cl;
    }
}


.top-line {
    border-bottom: 1px solid #ECECEC;
    margin-left: auto;
    margin-right: auto;
}

