
.container-our-team {
    background-color: $bg-section-cl;
    margin-left: auto;
    margin-right: auto;
    width: 480px;
    @media screen and (min-width: 481px) {
        width: 100%;
    }
}

/* класс для ul в сетке*/
.team-list {
    @include for-size(tablet) {
        display: flex;
        flex-wrap: wrap;   
        justify-content: space-between;
    }


}

/* класс для описания пунктов членов команды /* класс для  li в сетке */
.team-item {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: inherit;
    background-color: $wight-text-cl;
    margin-right: 0px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    /* добавил делая стили для мобайл*/
    margin-bottom: 30px;

    & img{
        margin-bottom: 30px;
    }
    
    & p {
        margin-bottom: 16px;
        margin-top: 0px;
    }

    @media screen and (max-width: 767px) {
        width: 450px;
        // height: 622px;
        &:last-child {
            margin-bottom: 0px;
        }
    }

    @media screen and (min-width:768px) and (max-width: 1199px) {
        width: 354px;
        &:nth-last-child(-n + 2) {
            margin-bottom: 0px;
        }
    }

    @include for-size(desktop) {
    &:last-child {
        margin-right: 0px;    
    }}

}


/* класс который относится для заголовков h3 на странице студио (имена сотрудников)*/
.team-name-tittle {
    font-weight: 500;
    color: $title-text-cl;
    margin-bottom: 10px;
    margin-top: 0px;
    line-height: 20px; 
}
